html {
  scroll-behavior: smooth;
}

header {
  position: relative;
  padding: 1.2rem;
  background-color: rgba(0, 0, 128, 0.568);
  width: 100%;
}

.main-logo {
  max-width: 6.2rem;
  height: 6.2rem;
  border-radius: 50%;
  margin-left: 1.2rem;
  cursor: pointer;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.main-nav-list {
  justify-content: right;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  gap: 1.6rem;
  list-style: none;
}

.menu-button {
  display: none;
}

.menu {
  display: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: white;
  transition: all 0.4s;
}

.main-nav-link.nav-profile:link,
.nav-profile:visited {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0.8rem 1.6rem 0.8rem 1.6rem;
  background-color: rgba(0, 0, 128, 0.671);
  border-radius: 0.9rem;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: red;
}

body.active-modal {
  overflow-y: hidden;
}

.btn {
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 5px;
  display: flex;
  gap: 0.4rem;
  font-size: 1.8rem;
  cursor: pointer;
  color: navy;
}
.btn:link,
.btn:visited {
  padding: 0.8rem 3.2rem 0.8rem 3.2rem;
  background-color: rgba(0, 0, 128, 0.671);
  text-decoration: none;
  line-height: 1.6;
  transition: ease-in-out 0.4s;
}

.btn:hover,
.btn:active {
  background-color: rgba(116, 116, 236, 0.712);
  color: #fff;
  outline: 1px solid #fff;
}

/* making responsive */

@media only screen and (max-width: 768px) {
  .main-nav-list {
    display: none;
  }
  .menu {
    display: block;
    font-size: 3.2rem;
  }
  .menu-button {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    position: absolute;
    background-color: rgba(0, 0, 128, 0.568);
    padding: 2.4rem 4.8rem;
    font-size: 1.8rem;
    right: 0;
    top: 8.66rem;
  }
}
