.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background-color: rgb(243, 235, 218);
  padding: 56px;
  border-radius: 3px;
  min-width: 300px;
  max-width: 600px;
}

.welcome-members {
  margin-bottom: 16px;
  font-weight: bold;
  color: navy;
}

/* login form */

.registerForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputForm {
  width: 100%;
  font-family: inherit;
  height: 42px;
  border: none;
  border-radius: 7px;
  border: 2px solid #bbb;
  font-size: 16px;
  text-indent: 15px;
}

.inputForm:focus {
  outline: none;
}

.buttonSignup {
  height: 42px;
  background-color: #1f72e6;
  border-radius: 7px;
  font-size: 16px;
  color: white;
  border: none;
  margin-bottom: 16px;
  font-weight: 500;
  cursor: pointer;
}
.buttonSignup:hover {
  background-color: rgba(0, 0, 128, 0.568);
}

.return-btn {
  background-color: white;
  color: black;
}

.return-btn:hover {
  background-color: white;
  border: 2px solid red;
}
